name: PR Checks
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: gradle/actions/setup-gradle@v5
      - name: Build
        run: ./gradlew build
      - name: Compile test snippets
        run: ./gradlew test -Pcompile-test-snippets
